{% include 'header.py.j2' %}

from pydantic import ConfigDict
from src.application.schema.{{ entity_name }}.short import {{ entity_name }}ShortSchema

class {{ entity_name }}DisplaySchema({{ entity_name }}ShortSchema):
    model_config = ConfigDict(from_attributes=True)
